header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    height: 80px;
    padding: 8px;
    align-items: center;
}

header nav a{
    margin: 2px 10px;
    text-decoration: none;
    color: white;
}

header nav a:hover,
header nav a {
  transition: transform 0.2s ease;
  display: inline-block;
}
header nav a:hover {
  transform: translateY(-3px);
}


.h-c{
    background-color: #1a3350;
}

.logo{
    font-size: 25px;
    color: white;
    text-decoration: none;
}